In [54]:
import pandas as pd

In [55]:
df = pd.read_csv(r'C:\Users\vchan\OneDrive\Desktop\45-days-of-ml\datasets\loan_prediction.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [56]:
df = df.drop(columns=['Loan_ID'])

In [57]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [58]:
for c in ['Gender','Married','Dependents','Self_Employed']:
    df[c].fillna(df[c].mode()[0],inplace=True)

C:\Users\vchan\AppData\Local\Temp\ipykernel_19520\1563081241.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[c].fillna(df[c].mode()[0],inplace=True)

In [59]:
df.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [60]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].median())

In [61]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [62]:
df['Credit_History'] = df['Credit_History'].fillna(0)

In [63]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [64]:
df['total_fam_income'] = df['ApplicantIncome'] + df['CoapplicantIncome']
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,total_fam_income
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y,5849.0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,6091.0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,3000.0
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,4941.0
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,2900.0
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,4106.0
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,8312.0
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,7583.0
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,4583.0

In [65]:
df['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [66]:
df['Dependents'] = df['Dependents'].replace({'3+':'3'})
df['Dependents'] = df['Dependents'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    object
 1   Married            614 non-null    object
 2   Dependents         614 non-null    int64
 3   Education          614 non-null    object
 4   Self_Employed      614 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
 12  total_fam_income   614 non-null    float64
dtypes: float64(5), int64(2), object(6)
memory usage: 62.5+ KB

In [85]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [68]:
le = LabelEncoder()
df['Education'] = le.fit_transform(df['Education'])

In [69]:
df['Education'].unique()

array([0, 1])

In [71]:
df['Loan_Status'] = df['Loan_Status'].map({'N':0,'Y':1})
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,total_fam_income
0,Male,No,0,0,No,5849,0.0,128.0,360.0,1.0,Urban,1,5849.0
1,Male,Yes,1,0,No,4583,1508.0,128.0,360.0,1.0,Rural,0,6091.0
2,Male,Yes,0,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,1,3000.0
3,Male,Yes,0,1,No,2583,2358.0,120.0,360.0,1.0,Urban,1,4941.0
4,Male,No,0,0,No,6000,0.0,141.0,360.0,1.0,Urban,1,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,0,No,2900,0.0,71.0,360.0,1.0,Rural,1,2900.0
610,Male,Yes,3,0,No,4106,0.0,40.0,180.0,1.0,Rural,1,4106.0
611,Male,Yes,1,0,No,8072,240.0,253.0,360.0,1.0,Urban,1,8312.0
612,Male,Yes,2,0,No,7583,0.0,187.0,360.0,1.0,Urban,1,7583.0
613,Female,No,0,0,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,0,4583.0

In [73]:
cat_col = ['Gender','Married','Self_Employed','Property_Area']

df = pd.get_dummies(df,columns=cat_col)

In [75]:
bool_mask = df.select_dtypes(include='bool').columns
df[bool_mask] = df[bool_mask].astype(int)
df

,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,total_fam_income,Gender_Female,Gender_Male,Married_No,Married_Yes,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,0,5849,0.0,128.0,360.0,1.0,1,5849.0,0,1,1,0,1,0,0,0,1
1,1,0,4583,1508.0,128.0,360.0,1.0,0,6091.0,0,1,0,1,1,0,1,0,0
2,0,0,3000,0.0,66.0,360.0,1.0,1,3000.0,0,1,0,1,0,1,0,0,1
3,0,1,2583,2358.0,120.0,360.0,1.0,1,4941.0,0,1,0,1,1,0,0,0,1
4,0,0,6000,0.0,141.0,360.0,1.0,1,6000.0,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,2900,0.0,71.0,360.0,1.0,1,2900.0,1,0,1,0,1,0,1,0,0
610,3,0,4106,0.0,40.0,180.0,1.0,1,4106.0,0,1,0,1,1,0,1,0,0
611,1,0,8072,240.0,253.0,360.0,1.0,1,8312.0,0,1,0,1,1,0,0,0,1
612,2,0,7583,0.0,187.0,360.0,1.0,1,7583.0,0,1,0,1,1,0,0,0,1
613,0,0,4583,0.0,133.0,360.0,0.0,0,4583.0,1,0,1,0,0,1,0,1,0

In [81]:
import numpy as np
df['ApplicantIncome_log'] = np.log1p(df['ApplicantIncome'])
df['CoapplicantIncome_log'] = np.log1p(df['CoapplicantIncome'])
df['LoanAmount_log'] = np.log1p(df['LoanAmount'])
df['Loan_Amount_Term_log'] = np.log1p(df['Loan_Amount_Term'])
df['total_fam_income_log'] = np.log1p(df['total_fam_income'])

In [84]:
df.drop(columns=['ApplicantIncome','CoapplicantIncome','LoanAmount','total_fam_income','Loan_Amount_Term'],inplace=True)
df

,Dependents,Education,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,ApplicantIncome_log,CoapplicantIncome_log,LoanAmount_log,Loan_Amount_Term_log,total_fam_income_log
0,0,0,1.0,1,0,1,1,0,1,0,0,0,1,8.674197,0.000000,4.859812,5.888878,8.674197
1,1,0,1.0,0,0,1,0,1,1,0,1,0,0,8.430327,7.319202,4.859812,5.888878,8.714732
2,0,0,1.0,1,0,1,0,1,0,1,0,0,1,8.006701,0.000000,4.204693,5.888878,8.006701
3,0,1,1.0,1,0,1,0,1,1,0,0,0,1,7.857094,7.765993,4.795791,5.888878,8.505525
4,0,0,1.0,1,0,1,1,0,1,0,0,0,1,8.699681,0.000000,4.955827,5.888878,8.699681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,1.0,1,1,0,1,0,1,0,1,0,0,7.972811,0.000000,4.276666,5.888878,7.972811
610,3,0,1.0,1,0,1,0,1,1,0,1,0,0,8.320448,0.000000,3.713572,5.198497,8.320448
611,1,0,1.0,1,0,1,0,1,1,0,0,0,1,8.996280,5.484797,5.537334,5.888878,9.025576
612,2,0,1.0,1,0,1,0,1,1,0,0,0,1,8.933796,0.000000,5.236442,5.888878,8.933796
613,0,0,0.0,0,1,0,1,0,0,1,0,1,0,8.430327,0.000000,4.897840,5.888878,8.430327

In [91]:
scaler = StandardScaler()
sc_col = ['ApplicantIncome_log','CoapplicantIncome_log','LoanAmount_log','total_fam_income_log','Loan_Amount_Term_log']
df[sc_col] = scaler.fit_transform(df[sc_col])

In [92]:
df

,Dependents,Education,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,ApplicantIncome_log,CoapplicantIncome_log,LoanAmount_log,Loan_Amount_Term_log,total_fam_income_log
0,0,0,1.0,1,0,1,1,0,1,0,0,0,1,0.516186,-1.107783,-0.012803,0.265985,0.008426
1,1,0,1.0,0,0,1,0,1,1,0,1,0,0,0.137806,0.782158,-0.012803,0.265985,0.082860
2,0,0,1.0,1,0,1,0,1,0,1,0,0,1,-0.519479,-1.107783,-1.348663,0.265985,-1.217299
3,0,1,1.0,1,0,1,0,1,1,0,0,0,1,-0.751605,0.897526,-0.143351,0.265985,-0.301306
4,0,0,1.0,1,0,1,1,0,1,0,0,0,1,0.555727,-1.107783,0.182981,0.265985,0.055223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,1.0,1,1,0,1,0,1,0,1,0,0,-0.572062,-1.107783,-1.201901,0.265985,-1.279531
610,3,0,1.0,1,0,1,0,1,1,0,1,0,0,-0.032679,-1.107783,-2.350110,-1.964410,-0.641164
611,1,0,1.0,1,0,1,0,1,1,0,0,0,1,1.015921,0.308483,1.368737,0.265985,0.653664
612,2,0,1.0,1,0,1,0,1,1,0,0,0,1,0.918972,-1.107783,0.755185,0.265985,0.485128
613,0,0,0.0,0,1,0,1,0,0,1,0,1,0,0.137806,-1.107783,0.064739,0.265985,-0.439393

In [94]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accu
X = df.drop(columns=['Loan_Status'])
y = df['Loan_Status']

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,stratify=y)

In [95]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [ ]:
y_pred = model.predict(X_test)